<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808077107227-ft6a7fmpohutafvrmubbhmdle978cj1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808077107227-ft6a7fmpohutafvrmubbhmdle978cj1p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808077107227-0ggvd4g4sesnhsn15jicdleeefcs0m29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAreJLO8f21aZ6bmg14ffg1I9R7JGQ_Pb4</string>
	<key>GCM_SENDER_ID</key>
	<string>808077107227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebukaebunam.CrwdnApplication</string>
	<key>PROJECT_ID</key>
	<string>crwdnfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>crwdnfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:808077107227:ios:fdd654b970f06f724e58be</string>
	<key>DATABASE_URL</key>
	<string>https://crwdnfirebase.firebaseio.com</string>
</dict>
</plist>
